.footer {
    background-color: #a33cbd;
    color: #fff;
    border-radius: 5px;

    @media (max-width: 768px) {
        margin-top: 50px;
    }

    &__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
    }

    &__list {
        display: flex;
        text-align: center;

        li {
            list-style: none;
            margin-left: 16px;

            img {
                height: 32px;
            }
        }
    }
}