@use 'conteudo';
@use 'variaveis';
@use 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    background-color: rgba(240, 183, 247, 0.253);
}
